.info-page-container {
  padding: 2rem;
  max-width: 900px;
  margin: 8rem auto 2rem;
  background-color: #2c2c2c;
  border-radius: 8px;
  color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-header {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
}

.info-header h1 {
  font-size: 2.5rem;
  color: #D07135;
  margin-bottom: 0.5rem;
}

.info-header p {
  font-size: 1.2rem;
  color: #aaa;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* 기존 스타일 추가 */
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4vh;
}

.text-content {
    flex-grow: 1;
    padding-right: clamp(10px, 2vw, 20px);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
}
.text-content p {
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.text-content .tip {
    margin-top: 0;
    margin-bottom: 5px;
}

.media-content {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.icon {
    font-size: 10vw;
}

.about-page-link {
    color: #ecde75 !important; 
}

.about-page-link:hover {
  text-decoration: underline;
}
